.todoList{
    width: 100%;
    background-color:chartreuse;
    height: 40px;
    border-radius: 5px;    
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 1%;
}
ul{
    padding-inline-start: 2%!important;
    padding-right: 2%;
    padding-top: 2%;
    background-color: coral;
    padding: 1%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
li{
    list-style: none;
    display: flex;
    flex: 1;
}
.doneButton{
    color:#BFA2DB;
}
.editButton{
    color:#1597E5;
}
.saveEdit{
    color:chartreuse;
}
.doneTodo{
    text-decoration: line-through;
    opacity: 0.5;
}
.editInput{
    width: 100%;
}
.liButtons{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
time{
    padding-right: 20px;
    text-transform: capitalize;
    color:coral;
    font-weight: 500;
    font-size: large;
}